{% extends 'application_frontend/frontend_core_layout.html' %}
{% load static %}

{% block css_styles %}
<link rel="stylesheet" href="{% static 'application_frontend/css/article_homepage_styling.css' %}">
<link rel="stylesheet" href="{% static 'application_frontend/css/article_category_styling.css' %}">
{% endblock css_styles %}

{% block title %} Articles {% endblock title %}

{% block body %}
<div class="main_category">

    <div class="article_category_grid">
        {% for article in articles %}
        <div class="article_summary_card">
                
            <div class=card_img>
                {% if article.image == None %}
                <img src="{% static 'application_frontend/imgs/test.jpg' %}" alt="">
                {% else %}
                <img src="{{article.image}}" alt="">
                {% endif %}    
            </div>
            
            <div class="article_content">
                <a class="main_article_link" href="{% url 'full_article' slug=article.slug %}"><h3 class="article_title">{{article.title|truncatechars:60}}</h3></a>
                <div class="button_grid">
                    {% if request.user.is_staff %}
                    <a class="link" href="{% url 'create_article' id=article.id %}">Edit</a>
                    {% endif %}        
                </div>
            </div>
        </div> 
        {% endfor %}       
    </div>
</div>
{% endblock body %}

