# Django packages:
django
djangorestframework
django-filter
django-celery-beat
gunicorn

# Process Scheudler packages:
Redis
celery

# Database packages:
psycopg2

# Frontend related packages:
whitenoise
djoser
markdown
pyyaml 
uritemplate
coreapi

# Packages for data ingestion:
praw
