{% extends 'application_frontend/frontend_core_layout.html' %}
{% load static %}

{% block css_styles %}
    <link rel="stylesheet" href="{% static 'application_frontend/css/about_me_styling.css' %}">
{% endblock css_styles %}

{% block body %}
<div class="about_page_main">

    <div class="headshot_grid">
        <div class="headshot_container"><img class="profile_headshot" src="{% static 'application_frontend/imgs/homepage/profile_pic.jpg' %}" alt=""></div>
        <div class="headshot_description">
            <h1>Matthew Teelucksingh</h1>
            <p>Data Scientist & Policy Analyst</p>
        </div>    
    </div>
    
    <div class="text-section">
        <h2>Who Am I?</h2>
        <p>Data Scientist and Policy Analyst whose focus is on energy policy and economics that has technical experience in data collections and analysis using web and data analysis frameworks in python and has previous experience in research and report writing.</p>        

    </div>

    <div class="text-section">
        <a href="{% static 'application_frontend/data/homepage_data/resume.pdf' %}"><h2>My Resume for Employers</h2></a>
        <p>If you are an employer and are looking for my formal resume here it is.</p>
        <a href="{% url 'articles_homepage' %}"><h2>My Writings</h2></a>
        <p>If you want a sample of my writings you can access my articles that are hosted on this site here.</p>    
    </div>

    <div class="text-section">
        <h2>Education</h2>

        <div class="education_section">
            <div class="header_grid">
                <img src="{% static 'application_frontend/imgs/homepage/University_of_Waterloo_seal.png' %}" alt="">                            
                <h3>Undergrad Bachelor of Environmental Studies - Honors Environment and Business</h3>    
            </div>
            <p> I did my Bachelors of Environmental Studies at the University of Waterloo from 2017 to 2022. The majority of my upper year courses were centered around both the policy and economic implications of addressing environmental issues. A list of the relevant upper year classes I took can be found here along with a few end-of term papers and projects that I think are a sufficient quality to showcase my research and writing skills:</p>    
        </div>
        
        <div class="resume_section">
            <a href="{% static 'application_frontend/data/homepage_data/Capstone_Final_Report.pdf' %}"><h4><u>Capstone Project: Incentivising Efficiency Optimization in the Canadian Aviation Industry Through Appropriate Emission Performance Standards</u></h4></a>
            <p>My final capstone project. It evaluates the viability of reducing emissions in the Canadian aviation industry via performance standards that encourage the optimization of route and fleet selection. I worked on this paper for a year with assistance from my capstone professor and TAs. Throughout the year we developed the program from scratch, which involved:</p>
            <p>Determining problem, Scoping problem via broad literature review, Determining Research Plan/Research design, Collecting Data, Interpreting Data, Making Recommendations and Presenting Recommendations.</p>
            <p>We ended up doing very well in this course and our findings about the emission reduction options for specifically Canadian aviation were consistent with the broader available literature. Give the paper a read if you are interested!</p>    
        </div>
        
        <div class="resume_section">
            <a href="{% static 'application_frontend/data/homepage_data/Policy_Brief.pdf' %}"><h4><u>Policy Brief: Trinidad and Tobago: Policy Proposals for Subsidy Reform for Environmental and Welfare Gains in an Institutionally Constrained Environment</u></h4></a>
            <p>This was a paper that I wrote in my “Best Practices in Regulations” course where I examine the impacts of the Trinidad and Tobago’s power subsidy program from both an environmental and economic perspective and discuss how reform is likely to manifest in the current political and economic landscape. Since writing it, several of the recommendations made in the paper have been implemented by the Trinidad and Tobago government such as the <a href="https://newsday.co.tt/2022/06/04/young-full-removal-of-fuel-subsidy-still-under-consideration/">gradual phase out of the fuel subsidy program.</a></p>    
        </div>

    </div>

    <div class="text-section">
        <h2>Work Experience</h2>

        <div class="work_section">
            <div class="header_grid">
                <img src="{% static 'application_frontend/imgs/homepage/cdl-icon.png' %}" alt="">
                <h3>Coastal Dynamics</h3>    
            </div>
            <p class="icon-header">
                <img src="{% static 'application_frontend/imgs/homepage/django_icon.png' %}" alt="">
                <img src="{% static 'application_frontend/imgs/homepage/docker_icon.png' %}" alt="">
                <img src="{% static 'application_frontend/imgs/homepage/heroku-logo.png' %}" alt="">
                <img src="{% static 'application_frontend/imgs/homepage/mike-logo.png' %}" alt="">
                <img src="{% static 'application_frontend/imgs/homepage/plotly-dash-icon.png' %}" alt="">
            </p>
            <p>My main work experience comes from my various internships at <a href="http://coastaldynamics.com/">Coastal Dynamics Ltd</a>. An environmental consultant company in Trinidad and Tobago. My work during my internship involved working with the outputs from their DHI hydrodynamic models that forecast ocean conditions used in their Environment Impact Assessments.</p>
            <p>My key responsibilities centered around building a data dashboard displaying the weekly hydrodynamic forecasts (ocean currents, wind speed/direction, wave height/direction, etc) for a client. Extracting this data and transforming it into a format that could be easily plottable required the development of a custom API for aggregating all the custom df2 file outputs from the DHI hydrodynamic model and a <a href="https://github.com/MatthewTe/mail_socket_api">SMTP API</a> for periodically updating the dashboard with these weekly aggregated outputs.</p>
            <p>The dashboard was built using the Django Web Framework, received hydrodynamic model data from the scheduled SMTP process and was hosted on a Heroku server. Below is an example of a publicly available section of the dashboard that I developed:</p>
        </div>
        {{cdl_dhi_plot|safe}}

        <div class="work_section">
            <div class="header_grid">
                <img src="{% static 'application_frontend/imgs/homepage/operation_wallacea_icon.png' %}" alt="">
                <h3>Operation Wallacea</h3>    
            </div>
            <p>I was a Research Assistant for an <a href="https://www.opwall.com/">Operation Wallacea</a> expedition to Pantai Nirwana, Indonesia where, for half of my stay I participated in underwater surveys that collected benthic & aquatic organism census data used for reef quality surveys from the Hoga Island Marine Station. I performed formatting and input of underwater data collected via excel.</p>
            <p>For the other half of my stay I deployed and recovered Baited Remote Underwater Video Systems (BRUVs) that collected video data about Elasmobranches as part of the Global Finprint survey initiative. I, along with other Research Assistants extracted and recorded the data from these BRUVs which contributed to <a href="https://journals.plos.org/plosone/article?id=10.1371%2Fjournal.pone.0244154">an article about the efficacy of BRUVs in monitoring and surveying encumbrances.</a></p>
            
        </div>

    </div>

</div>
{% endblock body %}