{% extends 'application_frontend/frontend_core_layout.html' %}
{% load static %}

{% block title %}Homepage{% endblock title %}

{% block css_styles %}
    <link rel="stylesheet" href="{% static 'application_frontend/css/homepage_styling.css' %}">
{% endblock css_styles %}

{% block body %}
<div class="homepage_masthead">
    <h1>Explore our data, analysis, research and opinions.</h1>
    <p>Open source data dashboards, articles and APIs about international economics, international relations and foregin policy</p>
</div>

<div class="homepage_section_cards">
    <div class="main_section_card_grid">
        <div class="main_section_card">
            <div class="card_image"><img src="{% static 'application_frontend/imgs/Checkpoin_Charlie_image.jpg' %}" alt=""></div>
            <div class="card_content">
                <a class="hidden_link" href="{% url 'articles_homepage' %}"><h4>Articles and opinions</h4></a>
                <p>Ceteris paribus publishes various writings ranging from formal articles and whitepapers about our data collection and dashboards to fully opinionated articles by authors discussing contemporary issues mainly in the fields of international economics and foregin policy (or geopolitics depending on where you’re from).</p>
            </div>        
        </div>

        <div class="main_section_card">
            <div class="card_image"><img src="{% static 'application_frontend/imgs/korean_main_thumbnail.jpeg' %}" alt=""></div>
            <div class="card_content">
                <a class="hidden_link" href="{% url 'north_korea_homepage' %}"><h4>The Korean-Peninsula and its unique issues and international position</h4></a>
                <p>The modern geopolitical situation on the Korean peninsula arose from key decisions made during the final years for the second world war’s pacific theater. The division of the peninsula and the subsequent war has resulted in a political situation that has been a focus of international relations scholars, policy analysts and multilateral institutions ever since. Ceteris paribus has created a section of the site dedicated to understanding the tensions between the ROK, DPRK, the US and how these tensions are likely to develop into the 21st century.</p>
            </div>
        </div>

        <div class="main_section_card">
            <div class="card_image">
                <img src="{% static 'application_frontend/imgs/REST_API.jpg' %}" alt=""></div>
            <div class="card_content">
                <a class="hidden_link" href="{% url 'documentation_homepage' %}"><h4>See documentation for how to use our public data APIs</h4></a>
                <p>A core component of the Ceteris Paribus project is to extract and transform interesting data that relates to our topics of interest. This data ingestion powers our dashboards and elements of our unique analysis. We provide public facing access to our database through our REST API services.</p>
            </div>
        </div>
    </div>
</div>

<div class="data_dashboard_card_section">
    <div class="card_grid">
        <h2>Data Dashboards</h2>
        <div class="main_section_card_grid">
            <div class="main_section_card">
                <div class="card_image"><img src="{% static 'application_frontend/imgs/masthead_w_sipri.jpg' %}" alt=""></div>
                <div class="card_content">
                    <h4>Stockholm International Peace Research Institute Arms Dashboards</h4>
                    <p>The Stockholm International Peace Research Institute is a Stockholm institute that “provides data, analysis and recommendations for armed conflict, military expenditure and arms trade as well as disarmament and arms control”. To that end it provides publicly available information about the global state of arms trade and production, which we use to create dashboards that communicate the ideas described in the raw data.</p>
                </div>
                
            </div>

            <div class="main_section_card">
                <div class="card_image"><img src="{% static 'application_frontend/imgs/Social_Media_Thumbnail.png' %}" alt=""></div>
                <div class="card_content">
                    <h4>Social Media Dashboards</h4>
                    <p>Ceteris paribus has multiple data ingestion projects currently running. One of these projects involves mining public data from popular social media services in order to perform sentiment analysis about key areas and issues. You can view dashboards showing our sentiment analysis or the status of our pipelines.</p>
                </div>
            </div>

            <div class="main_section_card">
                <div class="card_image">
                    <img src="{% static 'application_frontend/imgs/Zotero_Dashboard.png' %}" alt=""></div>
                <div class="card_content">
                    <h4>Zotero and Research Management Dashboards</h4>
                    <p>A key component of Ceteris paribus involves reading articles, academic literature, books and whitepapers about relevant topics in economics, foreign policy and international relations. To that end there are several tools that help visualize the research that we conduct. For example our Zotero account dashboards and author network generator.</p>
                </div>
            </div>
        </div>
    </div>    
</div>

<div class="articles_section">
    <h3>Recent Articles</h3>
    <div class="homepage_article_grid">
        
        {% for article in articles %}
            <div class="article_card">
                <div class="article_card_content">
                    <h4 class="article_card_title">{{article.title}}</h4>
                    <div class="bottom-elements">
                        <div class="article_info">
                            <p><strong>By</strong>: {{article.author}}</p>
                            <p><strong>Published on</strong>: {{article.created_at}}</p>
                        </div>
                        <div class="article_card_link">
                            <div><h5 class="article_topic">{{article.category}}</h5></div>
                            <div><h5 class="article_link"><a href="{% url 'full_article' slug=article.slug %}">Read the full article...</a></h5></div>                    
                        </div>    
                    </div>
                </div>
            </div>
        {% endfor %}        
    </div>
</div>
{% endblock body %}