{% extends 'application_frontend/frontend_core_layout.html' %}
{% load static %}

{% block title %}Homepage{% endblock title %}

{% block css_styles %}
    <link rel="stylesheet" href="{% static 'application_frontend/css/homepage_styling.css' %}">
{% endblock css_styles %}

{% block body %}
<div class="homepage_masthead">
    <h1>Explore our data, analysis, research and opinions.</h1>
    <p>Open source data dashboards, articles and APIs about international economics, international relations and foregin policy</p>
  
  <div class="homepage_masthead_button_grid">
    <div class="masthead_button"><a class="hidden_link" href="{% url 'dashboard_homepage' %}">Econ, Defense and Foreign Policy Dashboards</a></div>
    <div class="masthead_button"><a class="hidden_link" href="{% url 'articles_homepage' %}">Our Opinions and Research</a></div>
    <div class="masthead_button"><a class="hidden_link" href="{% url 'documentation_homepage' %}">Get Public API Access</a></div>
  </div>  
</div>

<div class="homepage_section_cards">
    <div class="main_section_card_grid">
        <div class="main_section_card">
            <div class="card_image"><img src="{% static 'application_frontend/imgs/Checkpoin_Charlie_image.jpg' %}" alt=""></div>
            <div class="card_content">
                <a class="hidden_link" href="{% url 'articles_homepage' %}"><h4>Articles and opinions</h4></a>
                <p>Ceteris paribus publishes various writings ranging from formal articles and whitepapers about our data collection and dashboards to fully opinionated articles by authors discussing contemporary issues mainly in the fields of international economics and foregin policy (or geopolitics depending on where you’re from).</p>
            </div>        
        </div>

        <div class="main_section_card">
            <div class="card_image"><img src="{% static 'application_frontend/imgs/korean_main_thumbnail.jpeg' %}" alt=""></div>
            <div class="card_content">
                <a class="hidden_link" href="{% url 'north_korea_homepage' %}"><h4>The Korean-Peninsula and its unique issues and international position</h4></a>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium facilis earum velit nobis deserunt. Reprehenderit beatae molestiae deserunt id, quia error itaque, esse quaerat rerum dolores minus ad odit necessitatibus.</p>
            </div>
        </div>

        <div class="main_section_card">
            <div class="card_image">
                <img src="{% static 'application_frontend/imgs/korean_main_thumbnail.jpeg' %}" alt=""></div>
            <div class="card_content">
                <a class="hidden_link" href="{% url 'documentation_homepage' %}"><h4>See documentation for how to use our public data APIs</h4></a>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae odit quod eos praesentium doloribus quaerat aliquam blanditiis voluptatibus minus vel fuga, animi autem dolor, quibusdam consequatur excepturi. Neque, aut voluptatibus.</p>
            </div>
        </div>
    </div>
</div>

<div class="data_dashboard_card_section">
    <div class="card_grid">
        <h2>Data Dashboards</h2>
        <div class="main_section_card_grid">
            <div class="main_section_card">
                <div class="card_image"><img src="{% static 'application_frontend/imgs/test.jpg' %}" alt=""></div>
                <div class="card_content">
                    <h4>Stockholm International Peace Research Institute Arms Dashboards</h4>
                    <p>Ceteris paribus publishes various writings ranging from formal articles and whitepapers about our data collection and dashboards to fully opinionated articles by authors discussing contemporary issues mainly in the fields of international economics and foregin policy (or geopolitics depending on where you’re from).</p>
                </div>
                
            </div>

            <div class="main_section_card">
                <div class="card_image"><img src="{% static 'application_frontend/imgs/Social_Media_Thumbnail.png' %}" alt=""></div>
                <div class="card_content">
                    <h4>Social Media Dashboards</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium facilis earum velit nobis deserunt. Reprehenderit beatae molestiae deserunt id, quia error itaque, esse quaerat rerum dolores minus ad odit necessitatibus.</p>
                </div>
            </div>

            <div class="main_section_card">
                <div class="card_image">
                    <img src="{% static 'application_frontend/imgs/Zotero_Dashboard.png' %}" alt=""></div>
                <div class="card_content">
                    <h4>Zotero and Research Management Dashboards</h4>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae odit quod eos praesentium doloribus quaerat aliquam blanditiis voluptatibus minus vel fuga, animi autem dolor, quibusdam consequatur excepturi. Neque, aut voluptatibus.</p>
                </div>
            </div>
        </div>
    </div>    
</div>

<div class="articles_section">
    <h3>Recent Articles</h3>
    <div class="homepage_article_grid">
        
        <div class="article_card">
            <div class="article_card_content">
                <h4 class="article_card_title">The world population increased from 1 billion in 1800 to 7.9 billion today.</h4>
                <div class="article_info">
                    <p><strong>By</strong>: Matthew Teelucksingh</p>
                    <p><strong>Published on</strong>: 25/04/2022</p>
                </div>
                <p class="article_card_paragraph">Growth slowed from 2.2% per year 50 years ago to 1.0% per year today...</p>
                <div class="article_card_link">
                    <div><h5 class="article_topic">North Korea</h5></div>
                    <div><h5 class="article_link">Read the full article...</h5></div>                    
                </div>
            </div>
        </div>
        
        <div class="article_card">
            <div class="article_card_content">
                <h4 class="article_card_title">The world population increased from 1 billion in 1800 to 7.9 billion today.</h4>
                <div class="article_info">
                    <p><strong>By</strong>: Matthew Teelucksingh</p>
                    <p><strong>Published on</strong>: 25/04/2022</p>
                </div>
                <p class="article_card_paragraph">Growth slowed from 2.2% per year 50 years ago to 1.0% per year today...</p>
                <div class="article_card_link">
                    <div><h5 class="article_topic">North Korea</h5></div>
                    <div><h5 class="article_link">Read the full article...</h5></div>                    
                </div>
            </div>
        </div>
        
        <div class="article_card">
            <div class="article_card_content">
                <h4 class="article_card_title">The world population increased from 1 billion in 1800 to 7.9 billion today.</h4>
                <div class="article_info">
                    <p><strong>By</strong>: Matthew Teelucksingh</p>
                    <p><strong>Published on</strong>: 25/04/2022</p>
                </div>
                <p class="article_card_paragraph">Growth slowed from 2.2% per year 50 years ago to 1.0% per year today...</p>
                <div class="article_card_link">
                    <div><h5 class="article_topic">North Korea</h5></div>
                    <div><h5 class="article_link">Read the full article...</h5></div>                    
                </div>
            </div>
        </div>

        <div class="article_card">
            <div class="article_card_content">
                <h4 class="article_card_title">The world population increased from 1 billion in 1800 to 7.9 billion today.</h4>
                <div class="article_info">
                    <p><strong>By</strong>: Matthew Teelucksingh</p>
                    <p><strong>Published on</strong>: 25/04/2022</p>
                </div>
                <p class="article_card_paragraph">Growth slowed from 2.2% per year 50 years ago to 1.0% per year today...</p>
                <div class="article_card_link">
                    <div><h5 class="article_topic">North Korea</h5></div>
                    <div><h5 class="article_link">Read the full article...</h5></div>                    
                </div>
            </div>
        </div>

        <div class="article_card">
            <div class="article_card_content">
                <h4 class="article_card_title">The world population increased from 1 billion in 1800 to 7.9 billion today.</h4>
                <div class="article_info">
                    <p><strong>By</strong>: Matthew Teelucksingh</p>
                    <p><strong>Published on</strong>: 25/04/2022</p>
                </div>
                <p class="article_card_paragraph">Growth slowed from 2.2% per year 50 years ago to 1.0% per year today...</p>
                <div class="article_card_link">
                    <div><h5 class="article_topic">North Korea</h5></div>
                    <div><h5 class="article_link">Read the full article...</h5></div>                    
                </div>
            </div>
        </div>
        
    </div>
</div>
{% endblock body %}