.about_page_main{
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
    font-size: larger;
    padding: 2rem;
}
.text-section{
    padding-bottom: 1rem;
    text-align: left;
}

.homepage_masthead{
    padding-bottom: 2rem;
    position: relative;
  }
  .homepage_masthead img{
    object-fit: cover;
    width: 100%;
    max-height: 25rem;
  }
  .homepage_front_content{
    background-color: rgba(255, 255, 255, 0.685);
      
    border-radius: 5px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .homepage_front_content .headshot_grid{
    display: grid;
    grid-template-columns: auto auto;  
  }

.education_section{
    border: solid black 1px;
    border-radius: 0.1rem;
    padding: 1rem;
    margin-bottom: 2rem;
}
.education_section img{
    height: 64px;
}
.header_grid{
    display: inline-flex;
    padding-bottom: 1rem;
}
.header_grid h3{
    padding-top: 1rem;
    align-items: left;
    padding-left: 1.5rem;
}


.headshot_grid{
    display: inline-flex;
    margin-top: 2rem;
}
.headshot_container{
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.headshot_description{
    position: relative;
    top: 20%;
    padding-top: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.profile_headshot{
    width: 152px;
    height: 152px;
    border-radius: 50%;
}

.resume-section{
    text-align:center
}
.resume_section{
    padding-top: 1rem;
}
.work_section{
    border: solid black 1px;
    border-radius: 0.1rem;
    padding: 1rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.work_section img{
    height: 64px;
}

.icon-header{
    margin-top: 0.5rem;
}
.icon-header img{
    max-width: 100%;
    max-height: 32px;
    display: inline-block;
    margin-right: 1.5rem;
}