.documentation_main{
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
    display: grid;
    gap: 1.5rem;
    grid-template-areas: "sidebar main";
    grid-template-columns: 1fr 5fr;
}
.documentation_sidebar{
    border: 1px black;
}
.sidebar_nav{    
    top: 5rem;
    display: block !important;
    height: calc(100vh - 7rem);
    padding-left: .25rem;
    margin-left: -.25rem;
    overflow-y: auto;
    overflow: auto;
    font-weight: 600;
}
.sidebar_list{
    padding-top: .25rem !important;
    padding-bottom: 1rem !important;
    margin-bottom: 0 !important;
    padding-left: 0;
    list-style: none;
    margin-top: 0;
    text-align: left;
}
.sidebar_list_object{
    margin-bottom: .25rem !important;
    padding-left: 2rem;
    padding-bottom: 0.5rem; 
}
.sidebar_list_object li{
    padding: 5px 0px;
}
.sidebar_list_object a{
    text-decoration: none;
}
.sidebar_list_object h4{
    color: black;
}

.documentation_content{
    border: 1px black;
    text-align: left;
    padding-right: 2rem;
}
.documentation_section{
    padding-bottom: 2rem;
}

/* Styling code blocks: */
pre {
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid #f36d33;
    color: rgb(0, 0, 0);
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}