/* General Styling: */
.hidden_link {
  text-decoration: none;
  color: #1d3d63;
}
.hidden_link:hover{
  color: #1d3d63;
}
/* Styling for the main Masthead: */
.homepage_masthead{
    padding-bottom: 2rem;
    position: relative;
  }
  .homepage_masthead img{
    object-fit: cover;
    width: 100%;
    max-height: 25rem;
  }
  .homepage_front_content{
    background-color: rgba(255, 255, 255, 0.685);
    border-radius: 5px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .homepage_masthead h1 {
    font-size: 1.875rem;
    font-weight: 700;
    line-height: 1.4;
    margin: 0 auto 1.5rem;
    max-width: 39.5rem; 
    text-align: center;
    color:   #ff6572;
    word-wrap: break-word;
    padding-top: 1.5rem;
  }
  .homepage_masthead p {
    color: #000000;
    font-size: 1.125rem;
    font-weight: 700;
    max-width: 39.5rem; 
    line-height:  1.3;
    margin: 0 auto 1.5rem;
    text-align: center;
    word-wrap: break-word;
  }
  .homepage_masthead_button_grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .masthead_button{
    font-size: 1.125rem;
    font-weight: 700;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
    color: var(--secondary-color);
  }
  .masthead_button a {
    border: 3px solid;
    padding: .35rem .7rem;
    text-decoration: none
  }

/* Styling for the main homepage section cards: */
.homepage_section_cards{
  padding-top: 2rem;
  padding-left: 4rem;
  padding-right: 4rem;
}
.main_section_card_grid{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(25rem, 1fr));
  grid-template-rows: 1fr;
  gap: 1rem;
  position: relative;  
}
.main_section_card{
  border: solid 0.5px;
  color: var(--text-color);
  min-height: 400px;
}
.main_section_card img{
  width: 100%;
  height: 15rem;
  object-fit: cover;
}
.card_content{
  padding: 1.25rem;
  text-align: left;
  justify-content: space-between;
}
.card_content h4{
  color: #1d3d63;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2;
}
.card_content p{
  font-weight: lighter;
  line-height: 1.5;
  margin-top: 1rem;
}

/* Styling the Data Dashboards Cards: */
.card_grid{
  padding-top: 2rem;
  padding-left: 4rem;
  padding-right: 4rem;
}
.card_grid h2{
  color: var(--secondary-color);
  text-align: left;
  padding-bottom: 0.5rem;
  
}

/* Styling for the main articles cards: */ 
.articles_section{
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 4rem;
  padding-right: 4rem;
}
.articles_section h3{
  color: var(--secondary-color);
  text-align: left;
}
.homepage_article_grid{
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  grid-auto-rows: 2fr;
}
.article_card{
  background-color: #bccadb7a;
  min-height: 240px;
  position: relative;  
}
.article_card_title{
  color: var(--secondary-color);
}
.article_card_content{
  padding: 1.5rem; 
  color: black;
  text-align: left;
}
.article_info p{
  margin-bottom: 0;
  font-size: 0.9rem; 
}
.article_card_paragraph{
  font-size: 1.0rem;
  margin-top: 0.75rem;
}
.article_card_link h5{
  font-size: 1rem;
}
.article_card_link{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(11rem, 1fr));
  padding-top: 1rem;
  position:absolute;                 
  bottom:0;                                                  
}