.SIPRI_dashboard{
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: left;
    font-size: large;
}

.into_description{
    padding-bottom: 2%;
}
.into_description h1{
    padding-bottom: 2rem;
}
.arms_industry_dashboard h2{
    padding-bottom: 1rem;
}
.arms_industry_dashboard h3{
    padding-bottom: 1rem;
    padding-top: 1rem;
}